<ion-header [translucent]="true">
  <ion-buttons>
  <ion-back-button>
    
  </ion-back-button>
</ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
    <!--aqui se genera la barra para elegir que tipo de usuario crear-->
    <ion-segment [(ngModel)]="selectTabs">
      <ion-segment-button value="Cliente">
        <ion-label>Cliente</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Empresa">
        <ion-label>Empresa</ion-label>
      </ion-segment-button>
    </ion-segment>
<!--este comando indica que abrir al momento de elegir una opción de segmento dando una condición If-->
<ion-card *ngIf="selectTabs == 'Cliente'">
  <ion-card-header>
    <ion-card-title>Registro</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <!--se crea el campo de usuario-->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    <br>
    <ion-button>
      Registrar
    </ion-button>
  </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="selectTabs == 'Empresa'">
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!--se crea el campo de Empresa-->
        <ion-item>
          <ion-label position="floating">Nombre de Empresa</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <!--Checbox-->
        <!--ion change mantiene el chackbox separado-->      
        <h1>¿Cuenta con medio de transporte?</h1>
        <ion-checkbox [(ngModel)]="checkbox1" (ionChange)="checkbox2 = !checkbox1">Si</ion-checkbox>
        <ion-checkbox [(ngModel)]="checkbox2" (ionChange)="checkbox1 = !checkbox2">No</ion-checkbox>
      <br>
      <ion-button>
        Registrar
      </ion-button>
    </ion-card-content>
    </ion-card>
</ion-content>